.checkbox-groove {
    .form-check-input[type=checkbox] {
        width: 20px; height: 20px;
        border-color:  #374151;
        background-color: #fff;
          ~label {
            font-family: 'Graphik-Regular';  
            font-size: 1rem;
            a {
              text-decoration: none;
            }


        }
      }
      .form-check-input:checked {
        background-color: #374151;
        border: #374151 1px solid;
        background-image: url(../images/checkboxtick.svg);
        background-size: 17px;
        ~label {
            font-family: "Graphik-Medium";

        }
      }
      .form-check-input:focus {
        border-color:  #374151;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #ddd;
    }
    label  {    padding: 3px 3px 3px 6px; }
}