.link-groove 
{
    font-family: 'Graphik-Medium';
    font-size: 14px;
    text-decoration: none;

    &.link-primary {


    }
    &:hover, &:focus, &:active, &.active  {
        text-decoration: underline;
    }
}